<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.rosary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rosaryicon_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rosaryicon_round_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rosary">
        <activity
            android:name=".Mysteries"
            android:label="@string/title_activity_mysteries"
            android:theme="@style/Theme.Rosary.NoActionBar"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ThirdRosaryActivity" />
        <activity android:name=".SecondRosaryActivity" />
        <activity android:name=".BeginRosaryActivity" />
        <activity android:name=".FirstRosaryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>